*.o

# Test specific file exclusions
## utils test
ATMega328P_display_client_test/src/test/utils/utils.cpp
ATMega328P_display_client_test/src/test/utils/utils.h
ATMega328P_display_client_test/test_utils

